/* Destroying  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* font creation */
body {
    font-family: 'Arial', sans-serif;
    background-color: #1a1a1a; /* Darky bg */
    color: #fff; /* white text */
    overflow-x: hidden; /* no x scrolling, only y */
}

/* creating container */
.container {
    max-width: 1200px; 
    margin: 0 auto;
    padding: 0 20px;
}

/* Шапка */
header {
    background-color: #292929; /* темно-серый фон */
    color: #fff; /* белый текст */
    padding: 60px 0;
    text-align: center;
}

header h1 {
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* shading text */
}

header p {
    font-size: 1.2em;
}

/* Разделы */
.section {
    padding: 80px 0;
    background-color: #1a1a1a; /* dark gray bg */
    color: #fff; /* white text */
    opacity: 0;
    border-radius: 20px;
    transform: translateY(50px);
    transition: opacity 0.8s ease, transform 0.8s ease, border-radius 0.5s ease; /* round angles */
    cursor: pointer; /* click coursor by hover */
}

.section.active {
    opacity: 1;
    transform: translateY(0);
    border-radius: 0; /* no round angles */
}

.section:hover {
    background-color: #292929; /* dark gray by hover */
    border-radius: 20px; /* by hover round angles */
}

.section h2 {
    font-size: 3em;
    margin-bottom: 40px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* text shading */
}

.section p {
    font-size: 1.2em;
    line-height: 1.6;
}

/* links */
a {
    color: #4e8cff; /* blue */
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #3385ff; /* dark blue by hover */
}

/* modal */
.modal {
    display: none; /* no modal */
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* half black bg */
    animation: fadeIn 0.5s ease; /* smooth hover */
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #292929; /* dark gray bg */
    padding: 40px;
    border-radius: 20px;
    animation: slideIn 0.5s ease; /* smooth */
}

.close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 2em;
    color: #fff; /* white */
    cursor: pointer;
}

.close:hover {
    color: #ccc; /* gray */
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideIn {
    from { transform: translate(-50%, -100%); }
    to { transform: translate(-50%, -50%); }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

@keyframes slideOut {
    from { transform: translate(-50%, -50%); }
    to { transform: translate(-50%, -100%); }
}
